---
title: Skills
layout: main
---


%h1 Tech & Skills

.skill-wrapper
  .skill-wrapper--inner-section{class: bem_modifier_skill_wrapper}
    - skills_including_projects.each do |s| 
      = partial('skills/skill', locals: { skill: s, bem_modifier_description: "-with-description" } ) 

