// @font-face
//   font-family: "Roboto"
//   src: url(../fonts/Roboto-Bold.tff) format("truetype"),
//     url(../fonts/Roboto-Medium.tff) format("truetype"),
//     url(../fonts/Roboto-Black.tff) format("truetype"),
//     url(../fonts/Roboto-Regular.ttf) format("truetype")


// Colours

$black-1: hsl(0,0%,5%)
$black-2: hsl(0,0%,9%)

$white-1: hsl(0,0%,90%)
$white-2: hsl(0,0%,80%)

$teal-hue: 180
$teal-1: hsl($teal-hue,100%,10%)
$teal-2: hsl($teal-hue,100%,20%)
$teal-3: hsl($teal-hue,100%,30%)
$teal-4: hsl($teal-hue,100%,40%)
$teal-5: hsl($teal-hue,100%,50%)
$teal-6: hsl($teal-hue,100%,60%)
$teal-7: hsl($teal-hue,100%,70%)
$teal-8: hsl($teal-hue,100%,80%)
$teal-9: hsl($teal-hue,100%,90%)
$teal-10: hsl($teal-hue,100%,100%)

//Fonts
$font-size-1: .7rem
$font-size-2: 1rem
$font-size-3: 1.5rem
$font-size-4: 2rem
$font-size-5: 2.5rem
$font-size-6: 3rem
$font-size-7: 3.5rem
$font-size-8: 4rem

// Weights
$weight-medium: 700
// Inner Section Width
$inner-section: 1200px

// Margins 
$margin-bottom-small: 1rem
$margin-bottom-medium: 2rem
$margin-bottom-large: 10rem
$margin-between-section: 9rem

// Padding
$padding-small: .7rem
$padding-medium: 1.2rem

// Border
$border-radius: 0
$border-width: 1px

// Screen-size
$medium: 900px

