
.project--box {
  display: flex;
  padding: 20px;
  background-color: white;
  margin-bottom: 10px;
}
.project--textarea {
  padding: 15px;
}

.project--buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project--image {
  width: 250px;
  border: 2px solid black;
}
