@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.tff) format("truetype"),
    url(../fonts/Roboto-Medium.tff) format("truetype"),
    url(../fonts/Roboto-Black.tff) format("truetype")
      url(../fonts/Roboto-Regular.ttf) format("truetype");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}


body {
  background: #e1e6e2;
  color: black;
  font-family: "Roboto", sans-serif;
}

