---
title: Draigan's Portfolio
layout: main
---

  <div class="hero">
    <div class="hero--inner-section">
      <h1 class="hero--text -large">Welcome!</h1>
      <h2 class="hero--text -small">My name is Draigan Le Febvre and I'm a self taught web developer.</h2>
      <a class="btn">
        <span class="btn--text">Projects</span>
      </a>
      <a class="btn">
        <span class="btn--text">Github</span>
      </a>



    </div>
  </div>
</section>

<section>
  <div class="practice">
    <div class="practice--inner-section">


      <h1 class="practice--header-text">Why Hire Me?</h1>

      <div class="practice--box-container">
        <div class="practice--box">
          <img src="/images/heart.svg" class="practice--image" alt="Heart symbol">
          <h2 class="practice--inner-text"> I'm passionate about programming. </h2>

        </div>
        <div class="practice--box">
          <img src="/images/clock.svg" class="practice--image" alt="Clock symbol">

          <h2 class="practice--inner-text">I continue learning on my own time.</h2>

        </div>
        <div class="practice--box">
          <img class="practice--image" src="/images/directed.svg" alt="Self directed">

          <h2 class="practice--inner-text">I'm self directed and persistent.</h2>

        </div>
        <div class="practice--box">

          <img class="practice--image" src="/images/balloons.svg" alt="Balloons">
          <h2 class="practice--inner-text">Fun at parties.</h2>
        </div>


      </div>

    </div>
  </div>
</section>


<section>
  <div class="project-wrapper">
    <div class="project-wrapper--inner-section">
      <div class="project-wrapper--header">
        Relevant Projects
      </div>
      <div class="project">

          <img src="images/chessboard.png" alt="chessboard" class="project--image">

        <div class="project--textarea">
          <h2 class="project--heading">Chess</h2>
          <p> Aliquam erat volutpat. Pellentesque a lectus malesuada, facilisis mi ultricies,
            dictum mauris. Cras et mi maximus, facilisis diam sed, iaculis ex.
            Integer eleifend lacus vel enim dapibus, id bibendum arcu sagittis. </p>

        </div>
        <div class="project--buttons">
            <a class="btn -black">
              <span class="btn--text">Explore</span> 
            </a>
            <a class="btn -black" href="https://github.com/Draigan/chess">
              <span class="btn--text">Github</span>
            </a>
        </div>
      </div>
      <div class="project">

          <img src="images/landtrust.png" alt="Landtrust bot" class="project--image">

        <div class="project--textarea">
          <h2 class="project--heading">Parkdale Landtrust Bot</h2>
          <p> Aliquam erat volutpat. Pellentesque a lectus malesuada, facilisis mi ultricies,
            dictum mauris. Cras et mi maximus, facilisis diam sed, iaculis ex.
            Integer eleifend lacus vel enim dapibus, id bibendum arcu sagittis. </p>

        </div>
        <div class="project--buttons">
          <a class="btn -black">
            <span class="btn--text">Explore</span>
          </a>
          <a class="btn -black" href="https://github.com/Draigan/toronto_land_trust">
            <span class="btn--text">Github</span>
          </a>
        </div>
      </div>


      <div class="project">

          <img src="images/sudoku.png" alt="Sudoku" class="project--image">

        <div class="project--textarea">
          <h2 class="project--heading">Sudoku</h2>
          <p> Aliquam erat volutpat. Pellentesque a lectus malesuada, facilisis mi ultricies,
            dictum mauris. Cras et mi maximus, facilisis diam sed, iaculis ex.
            Integer eleifend lacus vel enim dapibus, id bibendum arcu sagittis. </p>

        </div>
        <div class="project--buttons">
          <a class="btn -black">
            <span class="btn--text">Explore</span>
          </a>
          <a class="btn -black" href="https://github.com/Draigan/Sudoku">
            <span class="btn--text">Github</span>
          </a>
        </div>
      </div>

      <div class="project">

          <img src="images/passwordgen.png" alt="Password Generator" class="project--image">

        <div class="project--textarea">
          <h2 class="project--heading">Password Generator</h2>
          <p> Aliquam erat volutpat. Pellentesque a lectus malesuada, facilisis mi ultricies,
            dictum mauris. Cras et mi maximus, facilisis diam sed, iaculis ex.
            Integer eleifend lacus vel enim dapibus, id bibendum arcu sagittis. </p>

        </div>
        <div class="project--buttons">
          <a class="btn -black">
            <span class="btn--text">Explore</span>
          </a>
          <a class="btn -black" href="https://github.com/Draigan/password_generator">
            <span class="btn--text">Github</span>
          </a>
        </div>
      </div>
    </div>
</section>
