@import ../_variables

/* BUTTONS */
.btn 
  position: relative
  display: inline-block
  cursor: pointer
  text-align: center
  min-width: 8rem
  line-height: 0
  padding: 20px 
  margin: .4rem
  margin-left: 0
  border: $border-width solid $white-1
  border-radius: $border-radius
  text-transform: uppercase
  font-weight: 700


.btn::before 
  position: absolute
  content: ""
  left: 0
  bottom: 0
  background-color: $white-1
  height: 100%
  width: 100%
  transform: scaleY(0)
  transform-origin: top
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1)


.btn:hover::before 
  transform: scaleY(1)
  transform-origin: bottom


.btn--text 
  position: relative


.btn:hover .btn--text 
  color: $black-1


.btn.-black
  border: $border-width solid $black-1
  color: $black-1


.btn.-black:hover .btn--text 
  color: $white-1

.btn.-black::before 
  background-color: $black-1

