@import ../_variables

.footer 
  background: $black-1
  display: flex
  padding: $spacer-3
  align-items: center
  justify-content: center

.footer--inner-section 
  width: $inner-section

.footer--copyright 
  font-size: $font-size-s
  color: $white-1

