@import ../_variables
/* NAV */
.header
  display: flex
  justify-content: center
  align-items: center
  background: $black-1
  padding: $spacer-3

.header--inner-section 
  display: flex
  justify-content: space-between
  align-items: center
  width: $inner-section
  background: $black-1
  color: $white-1
  text-transform: uppercase

@media screen and (max-width: $medium) 
  .header--menu 
    display: none
