@import ../_variables
/* NAV */
.header
  display: flex
  justify-content: center
  align-items: center
  background: $black-1
  height: 4.5rem


.header--inner-section 
  display: flex
  justify-content: space-between
  align-items: center
  width: $inner-section
  height: 2.4rem
  background: $black-2
  color: $white-1
  text-transform: uppercase

