/* NAV */
.header
  display: flex
  justify-content: center
  align-items: center
  background: black
  height: 80px


.header--inner-section 
  display: flex
  justify-content: space-between
  align-items: center
  width: 1200px
  height: 44px
  background: rgb(19, 19, 19)
  color: white
  text-transform: uppercase


.header--icon 
  max-width: 34px
  max-height: 34px

.header--menu-link-div
  display: none

.header--menu-hamburger-image
  height: 2rem
  width: 2rem
  filter: invert(94%) sepia(0%) saturate(0%) hue-rotate(288deg) brightness(106%) contrast(109%)

.header--menu-hamburger
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  a
    color: black
  li
    list-style: none
    margin-bottom: 10px

.header--menu 
  display: flex
  align-items: center

  .up-current
    color: #00c0c0

  ul  
    display: flex
    gap: 20px
    margin-right: 4px
    align-items: center
    list-style: none
    
  li 
    position: relative
    font-weight: 600
    font-size: 12px

  a:after
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    transform: scaleX(0)
    height: 1px
    background: #fff
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
    transform-origin: right center

  a:hover::after  
    transform: scaleX(1)
    transform-origin: left center
    transition-duration: 0.4s


$medium: 900px

@media screen and (max-width: $medium) 
  .header--menu 
    display: none

  .header--menu-link-div
    display: block
  
