@import ../_variables

.hero 
  display: flex
  background-color: $teal-2
  min-height: 26rem
  font-style: normal
  font-weight: 900
  margin-bottom: $margin-between-section


.hero--inner-section 
  width: $inner-section
  margin: 5rem auto

.hero--text.-large 
  font-size: $font-size-5


.hero--text.-small 
  font-size: $font-size-3


.hero--text 
  margin-bottom: $margin-bottom-small
  color: $white-1

