@import ../_variables

.practice 
  color: $black-1
  display: flex
  justify-content: center
  text-align: center
  margin-bottom: $margin-between-section

.practice--inner-section 
  max-width: $inner-section

.practice--box-container 
  display: flex
  flex-wrap: wrap
  margin: auto
  justify-content: space-between
  gap: 4rem

.practice--inner-text
  font-size: $font-size-3

.practice--header-text 
  font-size: $font-size-5
  margin: 0

.practice--box
  flex: 1 1 200px
  width: 20%



.practice--image 
  width: 100%

@media screen and (max-width: 600px) 

  .practice--box-container
    display: grid
    grid-template-columns: 1fr

  .practice--box
    width: 100%
