@import ../_variables

.practice 
  color: $black-1
  display: flex
  justify-content: center
  text-align: center
  margin-bottom: $margin-between-section

.practice--inner-section 
  width: $inner-section

.practice--box-container 
  display: flex
  margin: auto
  justify-content: space-between
  gap: 4rem

.practice--inner-text
  font-size: $font-size-3

.practice--header-text 
  font-size: $font-size-5
  margin: 0


.practice--image 
  width: 70%

