.practice {
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
}

.practice--inner-section {
  width: 1200px;
  margin: auto;
}

.practice--box-container {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 1100px;
  margin-bottom: 150px;
}
.practice--inner-text{
  font-size: 23px;
}
.practice--header-text {
  font-size: 30px;
  margin-bottom: 40px;
}

.practice--box {
  width: 20%;
  min-height: 100px;
}
.practice--image {
  width: 70%;
}
