.project-view 
  margin: 25px auto
  width: 1200px

.project-view--title 
  display: inline

.project-view--date 
  display: inline
  float: right
  font-weight: 500

.project-view--description 
  margin-bottom: 25px

.project-view--featured-image-wrapper 
  width: 400px
  margin-right: 25px
  float: left

.project-view--featured-image 
  width: 400px

.project-view--long-description::first-letter 
  color: white
  background-color: black
  border-radius: 2px
  box-shadow: 3px 3px 0  rgb(0, 125, 125)
  font-size: 250%
  padding: 6px 3px
  margin-right: 6px
  float: left


