@import ../_variables

.project 
  display: grid
  grid-template-areas: "image heading buttons""image description buttons""image skills-wrapper buttons"
  // "image heading        buttons"
  // "image description    buttons" 
  // "image skills-wrapper buttons"
  grid-template-columns: 200px 1fr auto
  padding: $padding-medium
  background-color: $white-1
  margin-bottom: $margin-bottom-small
  gap: .7rem

.project--heading 
  margin: 0
  text-transform: uppercase
  grid-area: heading

.project--description
  grid-area: description

.project--skills-wrapper
  grid-area: skills-wrapper

.project--buttons 
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  grid-area: buttons

.project--image 
  max-width: 15rem
  grid-area: image
  img
    width: 100%

.project--skill-image 
  width: 2.5rem

.project--view-more 
  font-size: $font-size-2
  padding: .3rem

@media screen and (max-width: 600px) 
  .project 
    grid-template-areas: "heading heading" "image image" "skills-wrapper skills-wrapper""description description""buttons buttons"
    //"heading                heading" 
    //"image                    image" 
    //"skills-wrapper  skills-wrapper" 
    //"description        description" 
    //"buttons                buttons"

    text-align: center
    width: 100%
    padding: 0

  .project--image
    margin: auto

