@import ../_variables

.project-view 
  margin: $spacer-5 auto
  width: $inner-section

.project-view--title 
  display: inline
  margin-bottom: $spacer-3

.project-view--date 
  display: inline
  float: right

.project-view--featured-image-wrapper 
  margin-right: $spacer-3
  float: left

.project-view--featured-image 
  width: 22rem

.project-view--long-description::first-letter 
  color: $white-1
  +border(black)
  background-color: $black-1
  box-shadow: 3px 3px 0  rgb(0, 125, 125)
  font-size: 250%
  padding: 6px 3px
  margin-right: 6px
  float: left

