@import ../_variables

.project-wrapper--header 
  font-size: $font-size-m
  padding: $spacer-2
  text-align: center
  color: $black-1
  font-weight: bold
  text-transform: uppercase

.project-wrapper--inner-section 
  +border(black)
  background-color: $white-2
  max-width: $inner-section
  margin: auto

.project-wrapper--footer 
  text-align: center
  a
    color: $black-1
