@import ../_variables

.project-page-inner-section
  border: 2px solid black
  width: 1200px
  margin: auto
  margin-top: 3rem
  display: flex

.project-page--title
  text-transform: uppercase
  text-align: center


.project-page--left-column
  background-color: grey
  width: 80%

.project-page--right-column
  width: 20%
  margin-top: 25px
  color: red
  display: flex
  justify-content: center

  .up-current
    color: red 

  li
    list-style: none
    text-transform: uppercase

