@import ../_variables

.project-page-inner-section
  +border(black)
  max-width: $inner-section
  margin: $spacer-5 auto
  display: flex

.project-page--title
  text-transform: uppercase
  text-align: center

.project-page--left-column

.project-page--right-column
  width: 20%
  .up-current
    color: $teal-3
  ul
    margin: $spacer-5 auto
    display: flex
    flex-direction: column
    padding: 0
  li
    list-style: none
    text-transform: uppercase
    margin: 0
    a 
      color: $black-1

@media screen and (max-width: 900px)
  .project-page--right-column
    display: none
