@import ../_variables

.project 
  display: flex
  padding: $padding-medium
  background-color: $white-1
  margin-bottom: $margin-bottom-small

.project--textarea 
  display: flex
  padding: 0 $padding-medium 0 $padding-medium
  flex-direction: column
  justify-content: flex-start

.project--view-more 
  font-size: $font-size-2
  padding: .3rem

.project--heading 
  margin: 0
  text-transform: uppercase

.project--buttons 
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.project--inner-section 
  border: $border-width solid black
  border-radius: $border-radius
  background-color: black
  width: $inner-section
  margin: auto

.project--image 
  width: 15rem
  border: $border-width solid black

.project--skill-image 
  width: 2.5rem

