@import ../_variables

.skill 
  display: flex
  padding: $padding-medium
  background-color: $white-1
  margin-bottom: $margin-bottom-small

.skill--textarea 
  display: flex
  padding: 0 $padding-medium 0 $padding-medium
  flex-direction: column
  justify-content: flex-start

.skill--view-more 
  font-size: $font-size-2
  padding: .3rem

.skill--heading 
  margin: 0
  text-transform: uppercase

.skill--buttons 
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.skill--inner-section 
  border: $border-width solid black
  border-radius: $border-radius
  background-color: black
  width: $inner-section
  margin: auto

.skill--image 
  width: 7rem


