@import ../_variables

.skill-wrapper 

.skill-wrapper--header 
  font-size: $font-size-m
  padding: $spacer-2
  text-align: center
  color: $black-1
  font-weight: bold
  text-transform: uppercase

.skill-wrapper--inner-section
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(20rem,1fr))
  +border(black)
  background-color: $white-2
  max-width: $inner-section
  margin: auto

.skill-wrapper--inner-section.-with-description
  grid-template-columns: 1fr
  

.skill-wrapper--footer 
  text-align: center
  a
    color: $black-1
