.skill 
  display: flex
  padding: 20px
  background-color: white
  margin-bottom: 10px

.skill--textarea 
  padding: 15px

.skill--view-more 
  font-size: 20px
  padding: 5px

.skill--heading 
  text-transform: uppercase

.skill--buttons 
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.skill--inner-section 
  border: 2px solid black
  border-radius: 15px
  background-color: black
  width: 1200px
  margin: auto

.skill--header 
  font-size: 28px
  padding: 10px
  text-align: center
  color: lightgray

.skill--image 
  width: 75px

