@import ../_variables

.skill-wrapper 
  margin-bottom: $margin-bottom-large

.skill-wrapper--header 
  font-size: $font-size-3
  padding: $padding-small
  text-align: center
  color: $black-1
  font-weight: 700
  text-transform: uppercase

.skill-wrapper--inner-section
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(20rem,1fr))
  border: $border-width solid $black-1
  border-radius: $border-radius
  background-color: $white-2
  max-width: $inner-section
  margin: auto

.skill-wrapper--inner-section.-with-description
  grid-template-columns: 1fr

.skill-wrapper--footer 
  text-align: center
  margin-bottom: $padding-small

.skill-wrapper--inner-section.-main-page


